@charset "UTF-8";
body{
	background-size: cover;
}

table{
	margin-left: auto;
	margin-right: auto;
}

thead{
	text-align: center;
	font-weight: 600;
}

thead td{
	padding-left: 10px;
	padding-right: 10px;
	background-color: lavender;
}

td{
	padding-right: 10px;
}

tr:nth-of-type(even) {
      background-color: lightyellow;
    }
tr:nth-of-type(odd) {
      background-color: lightblue;
    }
