@charset "UTF-8";
/* Navigation */

body{
	background-repeat:repeat-y;
	background-size: auto;
	
}
header {
	width: 100%;
	height: 5%;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
}
.crest{
	width: 80px;
	height: 80px;
}

.shops{
	width: 75%;
	height: 300px;
	display: block;
	align: center;
}

/* Hamburger menu */
/* From Alvarotrigo */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#hamburger-input{
  display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: inline-block;
    border: none;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(
      to bottom, 
      #0B7CC2, #17CCFF 20%, 
      transparent 20%, transparent 40%, 
      #17CCFF 40%, #0B7CC2 60%, 
      transparent 60%, transparent 80%, 
      #17CCFF 80%, #0B7CC2 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #17CCFF;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
  color: #B9FAF8;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #FFFFFF;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
 	text-decoration: underline;
	color: black;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}
/* End Alvarotrigo */
