@charset "UTF-8";

body{
	background-repeat: repeat;
	background-size: 50%;
}

h1{
	color: black;
	background-color: saddlebrown;
	width: 70%;
	margin-left: auto;
	margin-right: auto
}

header {
	width: 100%;
	height: 5%;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
}
.crest{
	width: 80px;
	height: 80px;
}

.shops{
	width: 75%;
	height: 300px;
	display: block;
	align: center;
}
