@charset "UTF-8";
/* Navigation */

body{
	background-repeat: no-repeat;
	background-size: cover
}
header {
	width: 100%;
	height: 5%;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
}
.crest{
	width: 80px;
	height: 80px;
}
